.checkoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 8rem;
  text-align: center;
  background-color: var(--transbg);
  width: 50%;
  margin: 0 auto;
  margin-top: 4rem;
}

p,
h2,
h3,
h4 {
  text-transform: uppercase;
  color: var(--white);
}
