.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 5rem;
  margin: auto;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
}
