hr {
  size: 1;
  color: var(--white);
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
.footercontent {
  display: flex;
  margin-top: 20rem;
}
.box1,
.box2,
.box3 {
  flex: 25%;
  text-align: center;
  margin-top: 2.7rem;
}
h1 {
  color: var(--white);
  font-size: medium;
}
p {
  color: var(--white);
}

.footer {
  height: 17rem;
  background-color: var(--invis);
}
